@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-300 text-gray-700;
  }
}
.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: transparent;
}
